<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Проверка IFC</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>проверка ifc по требованиям ids</h2>
        <div class="file-inputs">
            <form method=post action="/upload" enctype=multipart/form-data>
                <div class="file-inputs">
                    <div class="my_button">
                        <input type="file" name="file1" id="file1" style="display: none;">
                        <label for="file1" class="file1">выбор файла ifc</label>
                        <div id="fileName1">файл не выбран</div>
                    </div>
                    <div class="my_button">
                        <input type=file name=file2 id="file2" style="display: none;">
                        <label for="file2" class="file2">выбор файла ids</label>
                        <div id="fileName2">файл не выбран</div>
                    </div>
                    <div class="my_button">
                        <input type=submit name=upload id="upload" style="display: none;">
                        <label for="upload" class="upload">загрузить файлы</label>
                    </div>
                </div>
            </form>
            
            <form method="post" action="/process">
                <div class="file-inputs">
                    <div class="my_button">
                        <input type=submit name=check id="check" style="display: none;">
                        <label for="check" class="check">выполнить проверку</label>
                        <!-- <button type="submit">Выполнить проверку</button> -->
                    </div>
                </div>
            </form>
        </div>

        <div id="results-container">
            <h2>Результат:</h2>
            {% if 'files_names' in session %}
            <div>Загружены файлы {{ session['files_names'] }}</div>
            {% endif %}
            {% if 'error' in session %}
            <div>
                {{ session['error'] }}
            </div>
            {% endif %}
           
            {% if 'html_file_name' in session %}
                <div>
                    Подготовлен отчет {{ session['html_file_name'] }}
                    <form action="/download" method="get">
                        <button type="submit">Скачать</button>
                    </form>
                </div>
                <iframe src="{{ url_for('/data', filename=session['html_file_name']) }}"></iframe>
            {% endif %}
        </div>
    </div>

    <div class="footer">
        <ul>
            <li><a href="https://github.com/i-savelev">Github</a></li>
            <li><a href="https://t.me/i_savelev">Telegram</a></li>
            <li><a href="https://habr.com/ru/users/i-savelev/">Habr</a></li>
            <li><a href="mailto:ilyasavelyev98@mail.ru">Email</a></li>
            <li>&lti_savelev<p>✋</p>&gt</li>
        </ul>
    </div>

    <script>
      document.getElementById('file1').addEventListener('change', function() {
            const fileName = this.files[0]?.name || 'Файл не выбран';
            document.getElementById('fileName1').textContent = `Файл: ${fileName}`;
      });
      document.getElementById('file2').addEventListener('change', function() {
          const fileName = this.files[0]?.name || 'Файл не выбран';
          document.getElementById('fileName2').textContent = `Файл: ${fileName}`;
      });
    </script>
</body>